* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
                                
html {
    font-size: 62.5%;
}

                                /* hoja de Style de index.html */
.figure {
    position: absolute;
    display: blocks;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.figure img {
    width: 130px;
    height: 130px;
}
                 

                                /* hoja de Style de preRegalo.html */

.main-container {
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(133, 180, 176);
}

.container-video {
    display: flex;
    border-top: 50px solid black;
    border-bottom: 50px solid black;
}

.container-video video {
    width: 100%;
}

.section-img-pR {
    position: relative;
}

.container-video-flecha video {
    width: 130px;
    border-radius: 25px;
}

                                /* Hoja Style de regalo.html */

.body-regalo {
    position: relative;
    font-family: 'Barrio', cursive;
}

.container-carta {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-size: 1.6rem;
    padding: 40px;
}

.container-carta p {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    margin-top: 50px;
    text-align: justify;
    line-height: 30px;
}

.container-buttom__carta {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 20px;
}

.container-buttom__carta  .buttom-carta {
    background-color: transparent;
    border: none;
    padding: 0;
}

.container-buttom__carta a {
    font-family: 'Barrio', cursive;
    font-size: 2rem;
    text-decoration: none;
    color: red;
    padding: 40% 0;
}



